

#corpo {
    border: 1px solid grey;
    width: 70%;
    margin: auto;
    border-radius: 30px;
    background-color: #e8e3e3;
    top: 10%;
    -webkit-box-shadow: inset 2px -3px 50px 28px #c7c3c3; 
    box-shadow: inset 2px -3px 50px 28px #b3afaf;
}

#corpo h1 {
    right:25%;
    margin-top: 5%;
    padding: 5px 5px 5px 270px;
    color: #4489cf;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width:460px;
    height: 280px;
    margin: auto;
    position: relative;
    left:26%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#titulo {
   text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: #4489cf;
   text-shadow: rgb(42, 39, 39);
}

#desc {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;

}

.tabela {
    margin: auto;
}

table {
    width: 60%;
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
    overflow-x:auto;
    text-align: center;
}

table tr th {
border: 1px solid black;
overflow-x:auto;
}

table tr td {
    border: 1px solid black;
    overflow-x:auto;
}

#botao {
    border: 1px #4489cf;
    border-radius: 3px;
    background-color: #4489cf;
    color: white;
    padding: 10px;
    margin: 32px;
    margin-left:430px;
}
#botao a {
    color: white;
}

#botao:hover {
    background-color: #356aa1;
  }

#submit {
    border: 1px #4489cf;
    border-radius: 3px;
    background-color: #4489cf;
    color: white;
    padding: 5px;
    padding: 10px 20px;
}

#submit:hover {
    background-color: #356aa1;
}

footer {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

#formulario {
    border-radius: 15px;
    -webkit-box-shadow: inset 2px -3px 50px 28px #c7c3c3; 
    box-shadow: inset 2px -3px 50px 28px #b3afaf;
    width: 25%;
    margin: auto;
    background-color: #e8e3e3;
}


form {
margin: auto;
padding: 20px;
width: 60%;
overflow-x:auto;
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #145575;
}

form p {
    color: #145575;
}

fieldset {
    border-radius: 15px;
    -webkit-box-shadow: inset 2px -3px 50px 28px #c7c3c3; 
    box-shadow: inset 2px -3px 50px 28px #b3afaf;
    margin: auto;
    background-color: #e8e3e3;
}